.welcome-container {
  text-align: center;
  background-image: url("https://cdn.pixabay.com/photo/2019/12/09/19/39/pxclimateaction-4684217_1280.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
